$buttonGrey: #ddd;
$buttonGreen: #80cbc4;
$headerBarBlue: #00bbd3;
$titleWhite: #fff;
$regularText: rgba(255, 255, 255, 0.6);
$placeHolderText: rgba(255, 255, 255, 0.4);
$greenText: #92cbc5;
$appBackground: #282828;
$inputText: #92cbc5;